* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #fcfcfc;
    color: #333;
    overflow-x: hidden; 
}


.header-container {
    max-width: 1000px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* =========================================
   3. Main Header
   ========================================= */
.main-header {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0; 
    box-shadow: 0 2px 10px rgba(60, 6, 6, 0.05);
    border-bottom: 1px solid #eee;
}

.header-container {
    max-width: 1600px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 50px;
    width: 100%;
}


.logo {
    display: flex;
    align-items: center; 
    gap: 12px; 
}

.logo-icon {
    height: 45px;  
    width: auto;  
    display: inline-block;
    vertical-align: middle; 
}
.logo span {
    display: flex;
    align-items: center;
}
.logo-text {
    font-size: 42px;
    font-weight: 900;
    color: #1a1a1a;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1;
}


.main-nav ul {
    display: flex;
    list-style: none;
    gap: 55px; 
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    font-size: 19px; 
    font-weight: 400;
    color: #666;
    position: relative;
    transition: color 0.3s ease;
}

.main-nav a.active {
    font-weight: 700;
    color: #7b2cbf; 
}

.main-nav a:hover {
    color: #9d4edd; 
    cursor: pointer; 
}
.main-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #9d4edd;
    transition: width 0.3s ease;
}
.main-nav a:hover::after {
    width: 100%;
}

.hero-section {
    width: 100%; 
    height: 700px; 
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), 
                      url('../images/sportcar.jpg');
    
    background-size: cover;      
    background-position: center; 
    display: flex;
    align-items: center;         
    margin-bottom: 60px;         
}

.hero-container {
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 60px;
    width: 100%;
}

.hero-content {
    max-width: 700px; 
    color: #ffffff;   
}

.hero-content h1 {
    font-size: 100px; 
    font-weight: 900;
    margin-bottom: 15px;
    letter-spacing: 8px; 
    text-transform: uppercase;
    line-height: 1;
}

.hero-content p {
    font-size: 24px; 
    line-height: 1.6;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* =========================================
   4. About Section 
   ========================================= */

.about-section {
    width: 100%;
    padding: 60px 0; 
    background-color: #ffffff;
}

.about-section .about-container {
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 60px;
    width: 100%;
}

.about-section h2{
    font-size: 36x;
    font-weight: 700;
    color: #08010f;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
}

.about-section h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #090110;
    margin-top: 15px;
}

.about-section p {
    font-style: italic;
    font-size: 20px; 
    color: #555;
    line-height: 1.8; 
    margin-bottom: 10px; 
    text-align: justify; 
}
.about-section p:last-child {
    margin-bottom: 0;
}

/* =========================================
   5. Popular Cars Section 
   ========================================= */

.popular-cars-section {
    width: 100%;
    padding: 60px 0;
    background-color: #fcfcfc;
    margin-bottom: 32px; 
}

.popular-cars-container {
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 60px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    gap: 40px; 
}

.car-card {
    background-color: #fff;
    border-radius: 15px; 
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.car-card:hover {
    transform: translateY(-10px);
}


.card-image-wrapper {
    position: relative;
    width: 100%;
    height: 220px;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #bf2c2c;
    cursor: pointer;
}

.car-info {
    padding: 20px;
}

.car-info h3 {
    font-size: 20px; 
    font-weight: 700;
    margin-bottom: 12px;
}

.car-info p {
    font-size: 15px; 
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    height: 45px; 
}


.card-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: 1px solid #f0f0f0;
    padding-top: 15px;
}

.price {
    font-weight: 700;
    color: #0a0a0a;
    font-size: 18px;
}

.basket-icon {
    background-color: #bf2c2c;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.basket-icon:hover {
    background-color: #9d4edd;
}
/* =========================================
   5. Footer Section 
   ========================================= */
.main-header, .main-footer {
    width: 100%;
}
.main-footer {
    width: 100%;
    background-color: #c1ecee;
    padding: 20px 0;
    color: #4a4a4a;
}

.footer-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    justify-content: flex-start;
    gap: 150px;
}


#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #333;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px; 
}
.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: color 0.3s;
}
.footer-col ul li a:hover {
    color: #bf2c2c; 
}

.social-links{
    display: flex;
    gap: 10px;
    align-items: center;
}
.social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: grayscale(100%); 
    transition: filter 0.3s;
}
.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.social-icon:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}
.footer-bottom {
    max-width: 1600px;
    margin: 40px auto 0 auto;
    padding: 20px 60px 0 60px;
    border-top: 1px solid rgba(0,0,0,0.1);
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
/* =========================================
    second page 
   ========================================= */

.gallery-section{
    padding: 40px 0;
    width: 100%;
    margin-bottom: 32px;
}
.gallery-container{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 40px;
}
.gallery-item{
    height: 350px;
    border: 6px solid #8e59bc;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.gallery-item wide{
    width: 600px;
}
.gallery-item medium{
    width: 400px;
}
.gallery-item narrow{
    width: 200;
}
.list-of-cars-section{
    padding: 40px 0;
    width: 100%;
    margin-bottom: 32px;
}
.list-container{
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 40px;
}
.list-container ul{
    list-style: none;
    padding: 0;
}
.list-container ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 18px;
    
    font-family:'Lucida Sans',Geneva;
    font-size: 22px;      
    font-weight: 700;     
    letter-spacing: 1px;  
    color: #1a1a1a;
    text-transform: uppercase;  
}
.rocket-icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: grayscale(50%);
    transition: all 0.3s ease;
}

.simple-table-section {
    max-width: 1600px; 
    margin: 0 auto;
    text-align: center; 
    padding: 0 40px;
}
.simple-table-section h2 {
    margin-bottom: 30px;
    display: block;
}
.basic-table {
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto; 
    border-collapse: collapse;
    background-color: #edebeb;
}

.basic-table th, .basic-table td {
    border: 1px solid #545353;
    padding: 18px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;        
}

.basic-table th {
    background-color: #545353;
    font-weight: 700;
    text-transform: uppercase;
}